.portfolio {
  #main {
    max-width: none;
    margin: 0;
    padding: 0;
  }
  .page {
    max-width: none;
    float: none;
    padding: 0;
    margin: 0 auto;
  }
  .page__title {
    padding: 1em;
    color: $brand-red;
    text-align: center;
    font-size: $type-size-1;
    text-transform: uppercase;
    padding-bottom: 0;
  }
  .page_lead {
    font-size: $type-size-2;
  }
  .page__hero--overlay {
    margin-bottom: 0;
  }
  .notice {
    margin: 0 !important;
    a {
     color: blue;
    }
  }
}

.project {
  background-color: #F8EA8C;
  margin: 2em 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &:nth-child(odd) {
    background-color: #FFF8E8;
  }
}


.project__head {
  position: relative;
  color: #fff;
  min-height: 40vh;
  background-size: cover;
  text-align: center;
}

.project__title {
  margin: 0 auto;
  position: absolute;
  bottom: 4rem;
  left: 2rem;

  font-size: $type-size-3;
  @include breakpoint($x-small) {
    font-size: $type-size-2;
  }
  @include breakpoint($small) {
    font-size: $type-size-1;
  }
}

.project__meta {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.project__content {
  padding: 1em 2em;
  > p {
    font-size: 1.2em;
  }
}

/* Responsive abbr
   =============================================================== */

.project__head abbr[title] {
  border-bottom: none;
  @include breakpoint($medium) {
    span {
      display: none;
    }
    &:before {
      content: attr(title);
    }
  }
}

/* Images
   ================================================================ */

.project__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project__image {
  width: 100%;
  @include breakpoint($small) {
    width: 45%;
    margin: 1%;
  }
  @include breakpoint($medium) {
    width: 30%;
    margin: 1%;
  }
}

/* Portfolio links
   ================================================================ */
.project__links {
  text-align: right;
}

/* Utilities
   ================================================================ */

.u-tag {
  font-size: $type-size-7;
  color: $gray;
  text-shadow: 0 1px rgba(0,0,0,0.15);
  border: 0px white;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -2px rgba(255,255,255,0.1),
              inset 0 -3px rgba(0,0,0,0.1),
              0 1px rgba(0,0,0,0.05);
  padding: 0.3em .8em .5em;
  text-transform: uppercase;
}

.u-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
