

<section class="project">

  <div class="project__head" style="background-image: url({{ project.image }})">
    <div class="u-text-overlay"></div>
    <h2 class="project__title">{{ project.title }}</h2>
    <div class="project__meta">
      <span class="u-tag year">{{ project.date | date: "%Y" }}</span>
      {% for skill in project.skills %}
        <abbr class="u-tag {{ skill.abbr }}" title="{{ skill.title}}"><span>{{ skill.abbr }}</span></abbr>
      {% endfor %}
    </div>
  </div>

  <div class="project__content">
    {{ project.content }}
  </div>

</section>
